/* 
--01 TYPOGRAPHY SYSTEM
10 /12 / 14 / 16 / 18 / 20 /24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 /  98


 - Spacing (px) 
    2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/
/* 
===================================
|| Fonts                          |
===================================
*/
/* CURSIVE */
/* DANCING SCRIPT */
@import url("https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap");
/* SANS-SERIF */
/* Be Vietnam Pro */
@import url("https://fonts.googleapis.com/css2?family=Be+Vietnam+Pro:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Dancing+Script:wght@400..700&display=swap");
/* 
===================================
|| Variables                      |
===================================
*/

:root {
  /* FONTS */
  --FF-PRIMARY: "Be Vietnam Pro", sans-serif;
  /* --FF-SECONDARY: */
  --FF-DANCING-SCRIPT: "Dancing Script", cursive;
  --FS-GLOBAL: clamp(50%, 1.8vw, 62.5%);
  /* LETTER SPACING */
  --LETTER-SPACING-PRIMARY: 0.25rem;
  /* --LETTER-SPACING-PRIMARY: 0.4rem; */
  /* COLORS */
  --CLR-PRIMARY: #ef4444;
  /* --CLR-PRIMARY-LIGHT: ; */
  /* darkest gray is 1 */

  --CLR-GRAY-1: #171717;
  --CLR-GRAY-5: #102a42;
  --CLR-GRAY-10: #617d98;
  --CLR-GRAY-15: #f1f5f8;
  --CLR-WHITE: #fff;
  /* BORDER-RADIUS */
  /* --RADIUS-PRIMARY: 0.5rem; */
  /* BORDERS */
  /* PADDING */
  /* MARGINS */

  /* TRANSITIONS */
  --TRANSITION-PRIMARY: all 0.3s;
}
/* 
===================================
|| RESET                          |
===================================
*/
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
a {
  text-decoration: none;
}

ul,
ol {
  list-style: none;
}
input,
textarea,
select,
button {
  font: inherit;
}

picture,
img,
video,
audio {
  max-width: 100%;
  display: block;
}

html {
  font-size: var(--FS-GLOBAL);
  scroll-behavior: smooth;
}
body {
  min-height: 100vh;
  min-height: 100dvh;
  font-size: var(--FF-PRIMARY);
  line-height: 1.5;
}
/* 
===================================
|| UTILITY                        |
===================================
*/
.container {
  max-width: min(90%, 130rem);
  margin-inline: auto;
}

/* 
===================================
|| NAVBAR/HEADER                  |
===================================
*/
.header {
}
.navbar {
  box-shadow: 0 2px 2px rgba(0, 0, 0, 0.25);
  background-color: var(--CLR-WHITE);
  height: 7rem;
  position: relative;
  z-index: 9999;
  transition: var(--TRANSITION-PRIMARY);
}

.nav__open .navbar {
  box-shadow: 0 2px 4px rgba(255, 255, 255, 0.603);
}

.navbar__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 100%;
}
/* logo / branding */
.logo {
  font-size: 3rem;
  letter-spacing: var(--LETTER-SPACING-PRIMARY);
  font-family: var(--FF-DANCING-SCRIPT);
  font-weight: 700;
  color: transparent;
  background-image: linear-gradient(
    145deg,
    var(--CLR-PRIMARY) 0% 20%,
    #0ea5e9 30% 50%,
    #5b21b6 60% 80%,
    var(--CLR-PRIMARY) 90% 100%
  );
  background-clip: text;
  --webkit-background-clip: text;
  background-size: 850%;
  transition: var(--TRANSITION-PRIMARY);
  filter: drop-shadow(0px 0px 2px rgba(0, 0, 0, 0.25));
  position: relative;
  z-index: 9999;
}
.logo:hover {
  filter: drop-shadow(0px 0px 3px rgba(0, 0, 0, 0.8));
  animation: colorSlideToRight 3s ease-out infinite forwards;
}
/* mobile navbar list */
.navigation__list {
  height: 100vh;
  height: 100dvh;
  width: 100%;
  right: 100%;
  top: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 1.2rem;
  position: fixed;
  transition: var(--TRANSITION-PRIMARY) 0.1s cubic-bezier(0.68, -0.6, 0.32, 1.6);
}

.nav__open .navigation__list {
  right: 0%;
}
/* mobile nav items */
.nav__link:any-link {
  display: inline-block;
  font-weight: 600;
  font-size: 2rem;
  cursor: pointer;
  color: var(--CLR-GRAY-15);
  letter-spacing: 0.125rem;
  transition: var(--TRANSITION-PRIMARY);
  text-transform: capitalize;
  padding: 1rem 2rem;
  background-image: linear-gradient(
    145deg,
    transparent 50%,
    var(--CLR-WHITE) 50%
  );
  background-size: 300%;
}
.nav__link:hover,
.nav__link:focus,
.nav__link:active {
  background-position: right;
  color: var(--CLR-PRIMARY);
}
@media screen and (min-width: 48em) {
  .navigation__list {
    height: auto;
    width: auto;
    list-style: none;
    flex-direction: row;
    gap: 1.2rem;
    position: static;
  }
  .nav__link:any-link {
    color: var(--CLR-GRAY-1);
    background-image: none;
    background-size: auto;
  }
  .nav__link:hover,
  .nav__link:focus,
  .nav__link:active {
    background-position: right;
    color: var(--CLR-PRIMARY);
  }
}
/* mobile nav overlay */
.nav-overlay {
  background-image: linear-gradient(
    145deg,
    var(--CLR-GRAY-5),
    var(--CLR-GRAY-10)
  );
  width: 5.6rem;
  height: 5.6rem;
  position: fixed;
  border-radius: 50%;
  pointer-events: none;
  user-select: none;
  top: 0.5rem;
  right: 5%;
  transition: var(--TRANSITION-PRIMARY);
}
.nav__open .nav-overlay {
  scale: 85;
  z-index: 9997;
}
/* mobile menu btn */
.navigation__btn {
  border: none;
  background-color: transparent;
}
@media screen and (min-width: 48em) {
  .navigation__btn {
    display: none;
  }
}

/* mobile menu icon */
.navigation__icon {
  width: 5.6rem;
  height: 5.6rem;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 9999;
  cursor: pointer;
}
.navigation__icon > div,
.navigation__icon::after,
.navigation__icon::before {
  width: 80%;
  height: 5px;
  background-color: #000;
  transition: all 0.2s;
}
.navigation__icon::after,
.navigation__icon::before {
  content: "";
  position: absolute;
}
.navigation__icon::before {
  top: 25%;
}
.navigation__icon::after {
  bottom: 25%;
}
:not(.nav__open .navigation__icon):hover::before {
  top: 22%;
}
:not(.nav__open .navigation__icon):hover::after {
  bottom: 22%;
}
.nav__open .navigation__icon > div {
  width: 0;
  height: 0;
}
.nav__open .navigation__icon > div,
.nav__open .navigation__icon::after,
.nav__open .navigation__icon::before {
  background-color: #ef4444;
}
.nav__open .navigation__icon::before {
  top: 50%;
  transform: translateY(-50%) rotate(135deg);
}
.nav__open .navigation__icon::after {
  bottom: 50%;
  transform: translateY(50%) rotate(-135deg);
}

.nav__open .navigation__icon:hover > div,
.nav__open .navigation__icon:hover::after,
.nav__open .navigation__icon:hover::before {
  background-color: var(--CLR-GRAY-10);
}
/* 
===================================
|| ANIMATION                      |
===================================
*/
@keyframes colorSlideToRight {
  from {
    background-position: left;
  }
  to {
    background-position: right;
  }
}
