/* 
--01 TYPOGRAPHY SYSTEM
10 /12 / 14 / 16 / 18 / 20 /24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 /  98


 - Spacing (px) 
    2 / 4 / 8 / 12 / 16 / 24 / 32 / 48 / 64 / 80 / 96 / 128

*/
/*
===================================
|| HERO                           |
===================================
*/
.hero {
  position: relative;
}
.hero__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* height: 100vh;
  height: 100dvh; */
  gap: 12rem;
  margin-block: 10em 6.5em;
  padding-inline: 1em;
  -webkit-padding-after: 8em;
  padding-block-end: 8em;
}
@media screen and (min-width: 48em) {
  .hero__container {
    flex-direction: row;
    gap: 8rem;
  }
}
@media screen and (min-width: 62em) {
  .hero__container {
    flex-direction: row;
  }
}
.hero__text__container {
  display: flex;
  flex-direction: column;
  flex-basis: 50%;
  gap: 3.2rem;
}
@media screen and (min-width: 62em) {
  .hero__text__container {
    flex-basis: auto;
  }
}
.hero__header {
  display: flex;

  flex-direction: column;
  gap: 2rem;
}
.hero__heading {
  font-size: clamp(2.5rem, 2.5vw, 3.5rem);
  font-size: clamp(2.5rem, 2.5dvw, 3.5rem);
  font-weight: 500;
  color: #343d68;
}
.hero__heading--sub {
  font-size: clamp(3.6rem, 2.5vw, 4.4rem);
  font-size: clamp(3.6rem, 2.5vw, 4.4rem);
  line-height: 45px;
  height: 9rem;
  /* font-weight: 300; */
}
@media screen and (min-width: 62em) {
  .hero__heading--sub {
    height: auto;
  }
}
.hero__heading .user__name {
  font-size: 1.2em;
  letter-spacing: var(--LETTER-SPACING-PRIMARY);
}
.role {
  color: #4e45d5;
  font-weight: 600;
}

.hero__text {
  font-size: 1.8rem;
  line-height: 1.7;
  -webkit-margin-before: clamp(0.56em, 1.8vw, 0.625em);
  margin-block-start: clamp(0.56em, 1.8vw, 0.625em);
  font-weight: 500;
}
@media screen and (min-width: 48em) {
  .hero__text {
    font-size: 1.6rem;
  }
}
@media screen and (min-width: 62em) {
  .hero__text {
    max-width: 70%;
  }
}
.faded__text {
  font-size: clamp(5rem, 2.5vw, 7rem);
  font-weight: bold;

  color: var(--CLR-GRAY-15);
  transition: var(--TRANSITION-PRIMARY);

  position: absolute;
  /* bottom: -8%; */
  bottom: -7.55rem;
  right: 7%;
}

/* @media screen and (min-width: 48em) {
  .faded__text {
    bottom: -16%;
  }
} */
.hero__img__container {
  position: relative;
}
.icons {
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  -webkit-user-select: none;
}
.icon__dot {
  bottom: 0;
  right: 0;
  -webkit-animation: dotsAnimation 5s ease-in-out infinite;
  animation: dotsAnimation 5s ease-in-out infinite;
}
.icon__cube {
  top: -1.58rem;
  right: 1rem;
  -webkit-animation: cubeRotate 2s ease-in-out infinite;
  animation: cubeRotate 2s ease-in-out infinite;
}
.icon__circle {
  left: 0;
  bottom: 0;
  -webkit-animation: circleShake 5s linear infinite;
  animation: circleShake 5s linear infinite;
}
.icon__zigzak {
  left: -0.6rem;
  top: 3rem;
  -webkit-animation: zigzakAnimation 5s ease-in-out infinite;
  animation: zigzakAnimation 5s ease-in-out infinite;
}
.icon__plus {
  top: -1.25rem;
  left: 50%;
  transform: translateX(-50%);
  -webkit-animation: plusShake 5s ease-in-out infinite;
  animation: plusShake 5s ease-in-out infinite;
}
.user__img__container {
  padding: 4rem;
  /* transition: var(--TRANSITION-PRIMARY); */
  -webkit-animation: userImageScale 5s linear infinite;
  animation: userImageScale 5s linear infinite;

  /* border: 1px solid; */
  position: relative;

  z-index: -1;
}
.user__img {
  width: 100;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  pointer-events: none;
  -webkit-user-select: none;
  -o-object-fit: cover;
  object-fit: cover;
  max-height: 35rem;
}
.hero .user__name {
  line-height: 1.2;
}
/*
===================================
|| PROJECTS                       |
===================================
*/
.projects {
  background-color: var(--CLR-GRAY-20);
  -webkit-padding-before: 4em;
  padding-block-start: 4em;
  -webkit-padding-after: 8em;
  padding-block-end: 8em;
}

.projects__heading {
  font-size: clamp(5.2rem, 2.5vw, 7.2rem);
  text-align: center;
}
.projects__list {
  display: flex;
  flex-direction: column;
  padding-inline: 1em;
  gap: clamp(8rem, 2.5vw, 18rem);
}
.project__container {
  /* padding: 8rem; */
  /* overflow: hidden; */
}
.project__item {
  width: 100%;
  /* height: 550px; */
  height: clamp(35rem, 40vw + 8rem, 45rem);
  /* padding-block: 12em; */

  box-shadow: 0 0 40px #1f1f1f;
  /* background-image: linear-gradient(#1f1f1f9a, #1f1f1f9a),
    url("../images/projects/Project1.png"); */
  background-image: url("../images/projects/Project1.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  position: relative;
}
@media screen and (min-width: 36em) {
  .project__item {
    height: clamp(28rem, 50vw + 8rem, 45rem);
  }
}
@media screen and (min-width: 48em) {
  .project__item {
    width: 80%;
    height: clamp(30rem, 30vw + 8rem, 55rem);
  }
}
.project__container:nth-child(2) .project__item {
  background-image: url("../images/projects/Project2.png");
}
.project__container:nth-child(3) .project__item {
  background-image: url("../images/projects/Project3.png");
}
.project__container:nth-child(4) .project__item {
  background-image: url("../images/projects/Project4.png");
}
@media screen and (min-width: 48em) {
  .project__container:nth-child(even) .project__item {
    -webkit-margin-start: 20%;
    margin-inline-start: 20%;
  }
}

.project__item::after,
.project__item::before {
  content: "";
  position: absolute;
}

/* why create such a complex thing ustaad when we could have done it in one line check like 174 // .project__item */
.project__item::after {
  inset: 0;
  background-color: #1f1f1f9a;
  z-index: 0;
}
.project__item::before {
  inset: 0;

  /* background-image: linear-gradient(
    220deg,
    transparent 0% 50%,
    red 50% 65%,
    blue 75% 85%,
    green 95% 100%
  ); */
  background-image: linear-gradient(
    220deg,
    transparent 0% 50%,
    #343d68a5 50% 65%,
    #343d6899 75% 85%,
    #343d68 95% 100%
  );
  background-size: 400%;
  transition-duration: 0.2s;
  transition-timing-function: cubic-bezier(0.165, 0.84, 0.44, 1);

  background-position: right;
  transition: var(--TRANSITION-PRIMARY);

  /* background-image: linear-gradient(45deg, #343d68, #343d68be, #343d687c);
  transform-origin: left;
  transform: scaleX(0);
  */
  z-index: 1;
}
.project__item:hover::before {
  background-position: left;
  /* background-position: right; */
  /* transform: scaleX(1); */
}
.project__container:nth-child(even) .project__item::before {
  background-image: linear-gradient(
    145deg,
    transparent 0% 50%,
    #343d68a5 50% 65%,
    #343d6899 75% 85%,
    #343d68 95% 100%
  );
  background-position: left;
}
.project__container:nth-child(even) .project__item:hover::before {
  background-position: right;
}
.project__content__container {
  position: relative;
  z-index: 99;
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: center;
}
.project__header,
.project__footer {
  color: var(--CLR-WHITE);
  max-width: 50rem;
  width: calc(90% - clamp(4rem, 2.5vw, 16rem));
  /* margin-inline: clamp(1.8rem, 4vw, 4rem); */
  -webkit-margin-start: clamp(1.8em, 4vw, 4em);
  margin-inline-start: clamp(1.8em, 4vw, 4em);
  transition: var(--TRANSITION-PRIMARY);
}
.project__container:nth-child(even) .project__header,
.project__container:nth-child(even) .project__footer {
  -webkit-margin-end: clamp(1.8em, 4vw, 4em);
  margin-inline-end: clamp(1.8em, 4vw, 4em);
}
@media screen and (min-width: 48em) {
  .project__container:nth-child(odd) .project__item:hover .project__header,
  .project__container:nth-child(odd) .project__item:hover .project__footer {
    -webkit-margin-start: clamp(2.3em, 4vw + 2em, 8em);
    margin-inline-start: clamp(2.3em, 4vw + 2em, 8em);
  }
  .project__container:nth-child(even) .project__item:hover .project__header,
  .project__container:nth-child(even) .project__item:hover .project__footer {
    -webkit-margin-end: clamp(2.3em, 4vw + 2em, 8em);
    margin-inline-end: clamp(2.3em, 4vw + 2em, 8em);
  }
  .project__container:nth-child(even) .project__content__container {
    align-items: end;
  }
}
@media screen and (min-width: 62em) {
  .project__container:nth-child(odd) .project__item:hover .project__header,
  .project__container:nth-child(odd) .project__item:hover .project__footer {
    -webkit-margin-start: clamp(8em, 6vw + 2em, 11em);
    margin-inline-start: clamp(8em, 6vw + 2em, 11em);
  }
  .project__container:nth-child(even) .project__item:hover .project__header,
  .project__container:nth-child(even) .project__item:hover .project__footer {
    -webkit-margin-end: clamp(8em, 6vw + 2em, 11em);
    margin-inline-end: clamp(8em, 6vw + 2em, 11em);
  }
  .project__container:nth-child(even) .project__content__container {
    align-items: end;
  }
}
.project__number {
  display: none;
  position: absolute;
  font-size: clamp(8rem, 25vw, 12rem);
  font-weight: 600;
  color: var(--CLR-PRIMARY-7);

  opacity: 0;
  pointer-events: none;
  visibility: hidden;
  top: 30%;
  /* right: calc(-1em - 5rem); */
  transform: scale(0.2);
  right: calc(-1em + 12rem);
  text-shadow: 4px 4px 4px rgba(0, 0, 0, 0.5);
  transition: var(--TRANSITION-PRIMARY);
}
@media screen and (min-width: 48em) {
  .project__number {
    display: inline;
    font-size: clamp(12rem, 12vw + 2rem, 20rem);
  }
}
.project__container:nth-child(even) .project__number {
  right: auto;
  left: calc(-1em + 12rem);
  text-shadow: -4px 4px 4px rgba(0, 0, 0, 0.5);
}
.project__item:hover .project__number {
  opacity: 1;
  top: calc(-10% + 0.15em);
  transform: scale(1);
  pointer-events: all;
  visibility: visible;
  right: calc(-1em - clamp(2rem, 6vw, 8rem));
  /* right: calc(-1em - 8rem); */
}
@media screen and (min-width: 62em) {
  .project__item:hover .project__number {
    top: -10%;
  }
}
.project__container:nth-child(even) .project__item:hover .project__number {
  right: auto;
  /* left: calc(-1em - 8rem); */
  left: calc(-1em - clamp(2rem, 6vw, 8rem));
}

.tech__icons__list {
  display: flex;
  max-width: 92%;
  flex-wrap: wrap;
  gap: 2rem;
}
/* .project__container:nth-child(even) .tech__icons__list {
  max-width: 85%;
} */
.tech__icon {
  height: clamp(3rem, 2.5vw, 4.6rem);
  width: auto;
}

.project__heading {
  font-size: clamp(2.4rem, 3.5vw, 4.8rem);
  line-height: 1.2;
  -webkit-margin-before: 0.25em;
  margin-block-start: 0.25em;
  -webkit-margin-after: 0.4em;
  margin-block-end: 0.4em;
}
.project__intro__text {
  font-size: clamp(1.6rem, 2.5vw, 1.8rem);
  line-height: 1.5;
  font-style: italic;
  -webkit-margin-after: 1.3em;
  margin-block-end: 1.3em;
}
.project__footer {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.project__cta__btn {
  border: none;
}
.link__icon:-webkit-any-link,
.github__icon:-webkit-any-link {
  font-size: clamp(2.8rem, 2.5vw, 3.6rem);
  color: var(--CLR-WHITE);
  -webkit-transition: var(--TRANSITION-PRIMARY);
  transition: var(--TRANSITION-PRIMARY);
}
.link__icon:-moz-any-link,
.github__icon:-moz-any-link {
  font-size: clamp(2.8rem, 2.5vw, 3.6rem);
  color: var(--CLR-WHITE);
  -moz-transition: var(--TRANSITION-PRIMARY);
  transition: var(--TRANSITION-PRIMARY);
}
.link__icon:any-link,
.github__icon:any-link {
  font-size: clamp(2.8rem, 2.5vw, 3.6rem);
  color: var(--CLR-WHITE);
  transition: var(--TRANSITION-PRIMARY);
}
.link__icon:hover,
.link__icon:active,
.link__icon:focus,
.github__icon:hover,
.github__icon:active,
.github__icon:focus {
  color: var(--CLR-PRIMARY-6);
}

/* 
===================================
|| SKILLS                         |
===================================
*/

.skills {
  -webkit-margin-before: 4em;
  margin-block-start: 4em;
  -webkit-margin-after: 8em;
  margin-block-end: 8em;
}
.skills__container {
  -webkit-padding-after: 8em;
  padding-block-end: 8em;

  display: flex;
  flex-direction: column;
  position: relative;
  gap: 4rem;
}

@media screen and (min-width: 48em) {
  .skills__container {
    flex-direction: row;
  }
}
/* .skills__text__content {
} */
@media screen and (min-width: 48em) {
  .skills__text__content {
    width: 50%;
    flex-shrink: 0;
  }
}
.skills__heading {
  font-size: clamp(4.4rem, 3.5vw, 5.2rem);
  /* line-height: 1; */
  margin-bottom: 0.6em;
}
.skills__heading > .section__heading {
  line-height: 1.1;
  display: block;
  margin-bottom: 0;
  font-weight: bold;
}

.skills__heading > .section__heading:first-child {
  text-transform: lowercase;
  line-height: 1;
}
.about__heading__first__letter {
  text-transform: uppercase;
  font-size: clamp(6.5rem, 6vw, 9rem);
  background-image: linear-gradient(
    var(--CLR-PRIMARY-6),
    var(--CLR-PRIMARY-2) 70% 100%
  );
  color: transparent;

  -webkit-background-clip: text;

  background-clip: text;
  --webkit-background-clip: text;
}

.skills__text {
  font-size: 1.6rem;
  line-height: 1.6;
  margin-bottom: 1.1em;
}
@media screen and (min-width: 48em) {
  .skills__text {
    max-width: 85%;
  }
}
.tech__stack__container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  gap: 3rem;
  flex: 0 0 auto;
  position: relative;
}
@media screen and (min-width: 48em) {
  .tech__stack__container {
    width: 50%;
  }
}
.tech__stack__container::after {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  content: "";
  width: 40%;
  /* height: 20rem; */
  padding-top: 40%;
  /* background-color: red; */
  background-color: var(--CLR-GRAY-15);
  border-radius: 50% 50% 50% 50% / 50% 50% 50% 50%;
  -webkit-animation: blob-morph 8s linear infinite;
  animation: blob-morph 8s linear infinite;
  z-index: -1;
}

.tech__stack__img__container {
  height: 8rem;
  width: 8rem;
  transition: var(--TRANSITION-PRIMARY);
}
.tech__stack__img__container:hover {
  transform: scale(1.2);
}
.skills__faded__text {
  right: 1%;
  bottom: -9.8rem;
}

/* 
===================================
|| CONTACT                        |
===================================
*/

.contact {
  background-color: var(--CLR-GRAY-20);
  -webkit-padding-before: 4em;
  padding-block-start: 4em;
  -webkit-padding-after: 8em;
  padding-block-end: 8em;
}
.contact__header {
}
@media screen and (min-width: 48em) {
  .contact__header {
    max-width: 72%;
    margin-inline: auto;
    -webkit-margin-after: 6.4em;
    margin-block-end: 6.4em;
  }
}

.contact__heading {
  /* font-size: 6.2rem; */
  font-size: clamp(5.2rem, 4.2vw, 6.2rem);
  line-height: 1.1;
  -webkit-margin-after: 0.175em;
  margin-block-end: 0.175em;
}
.contact__sub-heading {
  /* font-size: 3.2rem; */
  font-size: clamp(2.8rem, 2.5vw, 3.2rem);
  font-weight: 700;
  line-height: 1.1;
  color: var(--CLR-GRAY-10);
  text-transform: capitalize;
}
.contact__form {
  width: min(100%, 40rem);
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-inline: auto;
  gap: 6rem;
  font-size: 1.8rem;
  -webkit-padding-before: 4.5em;
  padding-block-start: 4.5em;
}
@media screen and (min-width: 48em) {
  .contact__form {
    -webkit-padding-before: 2.25em;
    padding-block-start: 2.25em;
  }
}
.form__group {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: var(--CLR-PRIMARY-1);
  gap: 1.2rem;
  position: relative;
}
.form__label {
  font-size: 1.6rem;
  letter-spacing: 0.1em;
  font-weight: 600;
  position: absolute;
  top: 50%;
  left: 1em;
  transform: translateY(-50%) scale(0.5);
  opacity: 0;
  transition: var(--TRANSITION-PRIMARY);
}

.form__control {
  display: block;
  padding: 0.6em;
  -webkit-padding-before: calc(0.6em + 3px);
  padding-block-start: calc(0.6em + 3px);
  width: 100%;
  letter-spacing: 0.1rem;
  color: inherit;
  border: none;
  border-bottom: 3px solid transparent;
  /* border: none; */
  border-radius: 2px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.125), 0 0 0 1px rgba(0, 0, 0, 0.325);
  transition: var(--TRANSITION-PRIMARY);
}
.form__control:hover,
.form__control:focus {
  /* outline: none; */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.325), 0 0 0 1px rgba(0, 0, 0, 0.325);
}
.form__control:focus {
  outline: none;
  /* border-color: var(--CLR-PRIMARY-2); */
  /* box-shadow: 0 4px 8px rgba(0, 0, 0, 0.325), 0 0 2px var(--CLR-PRIMARY-6); */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.325), 0 0 0 1px var(--CLR-PRIMARY-2);
}
.form__control:not(.form__control:placeholder-shown):valid {
  border-color: rgb(34 197 94);
}
.form__control:not(.form__control:placeholder-shown):invalid {
  border-color: var(--CLR-PRIMARY-4);
}
textarea.form__control {
  resize: none;
}
textarea.form__control + .form__label {
  top: 16%;
}
.form__control:not(.form__control:placeholder-shown) + .form__label {
  top: -2.5rem;
  left: 0;
  transform: translateY(-50%) scale(1);
  opacity: 1;
}
.contact__btn {
  border: none;
  width: 70%;
  padding: 0.6em 1.8em;
}
.contact__btn i {
  -webkit-padding-start: 1.2em;
  padding-inline-start: 1.2em;
}
